name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v1
      - name: Install JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Install Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev
      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: build --scan
